# Program to Conver Fahrenheit to Celsius

In [10]:
ui = int(input('Enter Temperature in fahrenheit: '))
cel = round((ui-32)*(5/9),2)
print(f"Temperature in Celsius is : {cel}°C")

Enter Temperature in fahrenheit: 99
Temperature in Celsius is : 37.22°C

# Program to SWAP values of two variables

In [ ]:
ui1 = input("Enter Value for First Variable: ")
ui2 = input("Enter Value for Second Variable: ")
print("Before Swapping Values: ")
print(f"First Variable: {ui1}")
print(f"Second Variable: {ui2}")
temp = ui1
ui1 = ui2
ui2=temp

print(f"First Variable: {ui1}")
print(f"Second Variable: {ui2}")

Enter Value for First Variable: 5
Enter Value for Second Variable: 6
Before Swapping Values:
First Variable: 5
Second Variable: 6
First Variable: 6
Second Variable: 5

# Program to find distance between two points|

In [ ]:
x1 = int(input("Enter the x1 coordinates of a point: "))
x2 = int(input("Enter the x2 coordinates of a point: "))
y1 = int(input("Enter the y1 coordinates of a point: "))
y2 = int(input("Enter the y2 coordinates of a point: "))
result = ( ( ( (x2 - x1 )**2) + ( (y2-y1)**2) )**0.5)
print(f"Distance between x1={x1},x2={x2} and y1={y1},y2={y2} is {result}")

Enter the x1 coordinates of a point4
Enter the x2 coordinates of a point5
Enter the y1 coordinates of a point7
Enter the y2 coordinates of a point8
Distance between x1=4,x2=5 and y1=7,y2=8 is 1.4142135623730951

# Performing Case Study on the Following Operations

In [ ]:
# Maxima

tuple1 = (15,2,8,9,7)
print(max(tuple1))

15

In [ ]:
# Minima
print(min(tuple1))

2

In [ ]:
# Sum of Two tuples

t1 = (15,2,8,9,7)
t2 = (23,65,87,23)
print(sum(t1+t2))

239

In [ ]:
# Duplication of a tuple
tuple3 = (15,2,8,9,7)
print(tuple3*2)

(15, 2, 8, 9, 7, 15, 2, 8, 9, 7)

In [ ]:
# Slicing operation
tup = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
print(tup[1:4])

(3, 45, 4)

In [ ]:
# Obtaining a list from a tuple
tup1 = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
lt=list(tup1)
print(lt)

[22, 3, 45, 4, 2.4, 2, 56, 890, 1]

In [ ]:
# Comparing two Tuples
t11 = (15,2,8,9,7)
t22 = (23,65,87,23)
print(t11==t22)
print(t11<t22)
print(t11>t22)

False
True
False

In [ ]:
# Printing Two tuples of different Data Types
numericTuple = (10, 20, 30, 40, 50)
print("Numeric Tuple Items = ", numericTuple )

stringTuple = ('orange', 'Mango', 'Grape', 'Apple')
print("String Tuple Items = ", stringTuple )

Numeric Tuple Items =  (10, 20, 30, 40, 50)
String Tuple Items =  ('orange', 'Mango', 'Grape', 'Apple')

# Square root of Two numbers

In [ ]:
sqr1 = int(input("Enter a number: "))
print(f"Square root of {sqr1} is : ",sqr1**0.5)

sqr2 = int(input("Enter a number: "))
print(f"Square root of {sqr2} is : ",sqr2**0.5)

Enter a number: 25
Square root of 25 is :  5.0
Enter a number: 9
Square root of 9 is :  3.0

# find out factorial of a given number

In [ ]:
ui = int(input("Enter a number: "))
fact = 1
for i in range(1,ui+1):
    fact = fact * i

print (f"The factorial of {ui} is : ",fact)

Enter a number: 5
The factorial of 5 is :  120

# Sum of Digits of a number

In [ ]:
n = int(input("Enter a 3 digit number: "))
sum = 0
while (n != 0):
    sum = sum + int(n % 10)
    n = int(n/10)
print(sum)

Enter a number311
5

# Reversing a given number

In [ ]:
ui = input("Enter any string or number")
print("Reverse is: ")
print(ui[::-1])

Enter any string or number45789
Reverse is:
98754

# Program to check if the string is palindrome or not

In [ ]:
s = "malayalam"
if s==s[::-1]:
    print("Its a Palindrome")
else:
    print("Not a Palindrome")

Its a Palindrome

# Program to print fibonaci series

In [ ]:

def Fibonacci(n):

    if n < 0:
        print("Incorrect input")


    elif n == 0:
        return 0

    elif n == 1 or n == 2:
        return 1

    else:
        return Fibonacci(n-1) + Fibonacci(n-2)


print("Fibonacci Series is: ",Fibonacci(int(input("Enter a number: "))))

Enter a number: 9
Fibonacci Series is:  34

# Prime number for a given range

In [ ]:
lower = int(input("Enter the lower value:"))
upper = int(input("Enter the upper value:"))
for number in range(lower,upper+1):
    if number>1:
        for i in range(2,number):
            if (number%i)==0:
                break
        else:
            print(number)

Enter the lower value:12
Enter the upper value:25
13
17
19
23

# Program to find greatest of three numbers

In [ ]:
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
n3 = int(input("Enter Third number: "))

if (n1>n2 and n1>n3):
    print("Greatest no. is: ",n1)
elif (n1<n2 and n3<n2):
    print("Greatest no. is: ",n2)
else:
    print("Greatest no. is: ",n3)

Enter first number: 34
Enter second number: 76
Enter Third number: 23
Greatest no. is:  76